/* CSS Document */
*, *::after, *::before {
    box-sizing: border-box;  
}
  
  :root {
      --standaardMaat: 1rem;
      --roze: #ff60df;
      --aqua:#009aa7;
      --groen: #00984e;
      --blauw: #006bb6;
      --oranje: #ff6d2b;
      --rood: #ff3c35;
      --wit: #fff;
      --zwart:#000;
}

body {
    line-height: calc(1.5*var(--standaardMaat));
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

/* titels, paragraaf en lijstjes */

h1 {
    font-size: calc(1.5*var(--standaardMaat));
    color: var(--wit);
    /* text-shadow: calc(.07*var(--standaardMaat)) calc(.07*var(--standaardMaat)) calc(.05*var(--standaardMaat))  var(--groen); */
    margin: calc(.8*var(--standaardMaat)) calc(1*var(--standaardMaat)) calc(0*var(--standaardMaat)) calc(1.2*var(--standaardMaat));
}
.title a:hover {
    text-decoration: none;
}

h2 {
    font-weight: 400;
    font-size: calc(1.5*var(--standaardMaat));
}

h3 {
    font-weight: bold;
    color: var(--wit);
    margin: calc(0 *var(--standaardMaat)) calc(.5*var(--standaardMaat)) calc(.25*var(--standaardMaat)) calc(.5*var(--standaardMaat));
}

p {
   text-align: justify;
   margin: calc(0*var(--standaardMaat)) calc(.5*var(--standaardMaat)) calc(.8*var(--standaardMaat)) calc(.5*var(--standaardMaat));
}

.subtitle {
    color: var(--wit);
    margin: calc(0*var(--standaardMaat)) calc(1.2*var(--standaardMaat));
    font-weight: 400;
    /* font-style: italic; */
    font-size: calc(1*var(--standaardMaat));
}

ol{
    text-align: justify;
    margin: calc(0*var(--standaardMaat)) calc(.5*var(--standaardMaat)) calc(.8*var(--standaardMaat)) calc(.5*var(--standaardMaat));
}

a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--zwart);
}

a:hover {
    text-decoration: underline;
    color:var(--aqua);
}

footer > a {
    color: var(--blauw);
}
/* structurele onderdelen - algemeen */
header {
    top: 0;
    position: sticky;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width:100%;
    background-color: var(--oranje);

    z-index: 1000;
}
.title {
    display: flex;
    flex-direction: column;
}

nav {
    padding: calc(.3*var(--standaardMaat));
}

main {
    display: inline;
    width:clamp(1vmax, 100%, 50em);
    font-size: calc(1*var(--standaardMaat));
}

footer {
    font-size: calc(.8*var(--standaardMaat));
    line-height: calc(1.25*var(--standaardMaat));
    margin: calc(1.25*var(--standaardMaat));
}

/* Menu */

.navigatie {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 0;
}
.navigatie li {
    flex-direction: row;
    margin-right: calc(1*var(--standaardMaat));
    font-weight: 700;
    font-size: calc(1.1*var(--standaardMaat));
    color:var(--zwart);
}


/* Inhoud */
article {
    display: flex;
    flex-direction: row;
    flex-grow: 1 1;
    padding:calc(4*var(--standaardMaat)) calc(1*var(--standaardMaat)) calc(1*var(--standaardMaat)) calc(1*var(--standaardMaat));
    margin-top:calc(1*var(--standaardMaat));
}

article:nth-of-type(even){
    background-color: var(--roze);
}

article > h2 {
    flex-shrink: 1;
    min-width: 25vmax;
    margin: calc(.25*var(--standaardMaat)) calc(1*var(--standaardMaat)) calc(.25*var(--standaardMaat)) calc(.5*var(--standaardMaat));
}

section {
    display: flex;
    flex-grow: 1;
    max-width: 60vmax;
    flex-direction: column;
}

details {
    cursor: pointer;
}

details > p {
    font-size: calc(.9*var(--standaardMaat));
    margin: calc(.5*var(--standaardMaat)) calc(2*var(--standaardMaat)) calc(.25*var(--standaardMaat)) calc(4*var(--standaardMaat));
}

details > ol{
    font-size: calc(.9*var(--standaardMaat));
    margin: calc(.5*var(--standaardMaat)) calc(2*var(--standaardMaat)) calc(.25*var(--standaardMaat)) calc(4*var(--standaardMaat));
}

details > summary {
    display: flex;
    justify-content: space-between;

    background-color: var(--aqua);

    list-style: none;
    padding: calc(.5*var(--standaardMaat));
    margin-top: calc(.5*var(--standaardMaat));
    width: 100%;
}

details > summary::-webkit-details-marker {
    display: none
} 

details > summary::after {
    content: "☟";
    color: var(--wit);
    font-size: calc(1.5*var(--standaardMaat));
    font-weight: bold;
    transition: transform .3s ease;
}

details[open] > summary::after {
    transform: rotate(180deg);   
}


@media only screen and (max-width: 760px) {
    header {
        flex-direction: column-reverse;
    }
    .navigatie {
        justify-content: flex-start;
        margin: calc(0*var(--standaardMaat)) calc(1*var(--standaardMaat));
    }
    nav > ul {
        padding: calc(.3*var(--standaardMaat));
        margin: calc(.3*var(--standaardMaat));
    }
    article {
        flex-direction: column;
    }
    section {
        min-width: 95%;
    }

    details > p, details > ol  {
        font-size: calc(1*var(--standaardMaat));
        margin: calc(.5*var(--standaardMaat)) calc(1.5*var(--standaardMaat)) calc(.25*var(--standaardMaat)) calc(1.5*var(--standaardMaat));
    }
    
}
